body {
    font-family: 'Indie Flower', cursive;
}
header > h1 {
    display: inline-block;
}
h1 {
    margin-left: 100px;
}
#logo {
    width: 60px;
    margin-left: 30px;
}
a {
    margin-left: 20px;
    color: #7b1fa2;
    text-decoration: none;
}
#grupo {
    width: 150px;
    margin-left: 220px;
    margin-top: 20px;
    margin-right: 20px;
}
#usuario {
    width: 70px;
    margin-left: 260px;
    margin-top: 10px;
}
.bloques {
    margin-bottom: 100px;
    margin-left: 200px;
}
.p {
    width: 500px;
    margin-left: 30px;
}
div {
    border: black solid 1px;
    width: 600px;
    background-color: white;
}
#bloque {
    margin-top: 50px;
}
#navegador {
    font-size: 23px;
    justify-content: space-around;
    display: flex;
}
h2 {
    margin-left: 30px;
}
p > b {
    margin-left: 260px;
}
#inicio {
    background-color: white;
}
div > a {
    font-size: 20px;
    width: 600px
}