header {
    background-color: #3498db;
    color: white;
    padding: 0 10%;
}
header > h1 {
    display: inline-block;
    margin-left: 30px;
}
#final {
    background-color: #3498db;
    color: white;
    padding: 0 10%;
}